html, body {
    height: 100%;
    width: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;   
    justify-content: center;  
    align-items: center;      
}

#bulb {
    height: 200px;
    width: 200px;
    background-color: rgb(248, 248, 248);
    border-radius: 50%;
}

button {
    height: 50px;
    width: 100px;
    margin-top: 20px;   
}
