html,body{
    height: 100%;
    width:100%;
    margin:0;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    

}
button{
    height:100px;
    width:300px;
    border-radius: 30px;
    font-weight: bold;
    color: azure;
    background-color: red;
    font-size: 35px;
    

    
}
button:hover{
    background-color:rgba(255, 225, 0, 0.779) ;
    color: green;
}
button:active{
    transform: scale(0.95);
}

