*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: royalblue;
    font-family: Arial, sans-serif;
}


#box{
    height: 450px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}


#box img{
    height: 60%;
    width: 60%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom:  110px; ;
}

#box button{
    position: absolute;
    bottom: 130px;
    padding: 10px 20px;
    border: none;
    background-color: royalblue;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
#box h1{
    position: absolute;
    bottom: 230px;
    font-size: 20px;
    color: black;
}
#box h2{
    position: absolute;
    bottom: 190px;
    font-size: 18px;
    color: rgb(205, 17, 17);
}